<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CanBuild</title>
  </head>

  <body id="bd" class="bdark">
    <nav  id="navi" class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
      <a class="navbar-brand"><img src="{% static 'images/logo.png' %}" alt="CANBUILS" width="30"> Canbuild </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'one:index' %}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'one:resources' %}">Events</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'one:gallery' %}">Gallery</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">About us</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="https://docs.google.com/forms/d/e/1FAIpQLScEmuzfPuSrDb9K80IgyqKPBS1n-oJA3YqoWl_K3s64R7-9WA/viewform?usp=sf_link">Join</a>
           </li>
        </ul>
          <div class="navbar-text">
            <button type="button"  id="but" class="btn btn-dark" onclick="on()"></button>
      </div>
    </nav>

    <div class="jumbotron jumbotron-fluid p-4 bg-dark" id="j">
      <div class="container d-flex justify-content-center">
        <h1 id="t1" class="td"> About us </h1>
      </div>
    </div>


<div class="container">
  <div id="cont"class="container" style="border-radius: 10px;" >
  <p id="t3" class="td"><br>


    CanBuild works to provide the basic knowledge to the students in many fields with free of cost.
    Developed by the students, For the students. Join our hands with your whole heart.<br>
    <div id="t5" class="td container d-flex justify-content-center">
      "Alone we can do so little; together we can do so much." – Helen Keller
    </div>





  </p><br>
  </div>
  <br><br>
  <div  id="con" class="container bg-dark" style="border-radius: 10px;" >
    <br><h2 id="t4"  class="text-center td">Contact Us</h2><br>
    <div class="container" >
    {% if about %}
    {% for a in about %}
        <div  class="card col-sm" width=20rem style="background-color:#DCDCDC;border-radius:8px" >
          <div class="card-body ">
            <div class="row">
              <div class="col-sm">
                <h3 class="card-title">{{ a.AboutName }} <h5>{{ a.AboutRole }}</h5> </h3>
              </div>
              <div class="col-sm">
                {% if a.AboutEmail != "000@000.000" %}
                <a href= "mailto:{{ a.AboutEmail }}" style="color:black;" ><img src="{% static 'images/envelope-closed-8x.png'%}" alt="Email" width="20"> {{ a.AboutEmail }} <p></p></a>
                {% endif %}
                <a href="tel:{{ a.AboutPhone }}" style="color:black;" ><img src="{% static 'images/phone-6x.png'%}" alt="Call" width="20" > {{ a.AboutPhone }}</a>
              </div>
            </div>
          </div>
        </div>
      <br>
      {% endfor %}
      {% else %}
        <img src="{% static 'images/no.png' %}" alt="" class="d-block w-100" height="400">
      {% endif %}
    </div>

  </div>
</div>

<br><br><br>

<footer id="footi" class="py-4 footc text-white-50 bg-dark ">
    <div class="container text-center">
      <a href="{% url 'admin:index' %}" ><h6>Canbuild Web</h6></a>
      <small class="td" id="t2" >Developed by Vignesh Hegde</small>
    </div>
</footer>



<style media="screen">
p{
margin: 10px;
text-align: justify;
text-justify: inter-word;
}
.btn:focus{
  outline: none;
  box-shadow: none;
}
.bdark {
  background-color: #1A1A1D;
  color:black ;
}
.bdlight {
  background-color:#EDF2F8;
  color: black;
}

.tl{
  color:black ;
}

.td{
  color:white ;
}




</style>

<script>
var i=sessionStorage.getItem("temp");
if (typeof i == 'undefined'){
  i="0";
}
  on()



function on(){
  if(i=="1"){
    sessionStorage.setItem("temp",i);
    i="0";
    document.getElementById('navi').setAttribute("class", "navbar navbar-expand-lg  sticky-top navbar-light bg-light");
    document.getElementById('footi').setAttribute("class", "py-4 footc text-white-50 bg-light");
    document.getElementById('j').setAttribute("class", "jumbotron jumbotron-fluid p-4 bg-light");
    document.getElementById('t1').setAttribute("class", "tl");
    document.getElementById('t2').setAttribute("class", "tl");
    document.getElementById('t3').setAttribute("class", "tl");
    document.getElementById('t4').setAttribute("class", "tl text-center");
    document.getElementById('bd').setAttribute("class", "bdlight");
    document.getElementById("cont").setAttribute("class", "container bg-light");
    document.getElementById("con").setAttribute("class", "container bg-light");
    document.getElementById("but").setAttribute("class", "btn btn-dark");
    document.getElementById("but").innerHTML = "Dark";
    document.getElementById("t5").setAttribute("class", "tl container d-flex justify-content-center");


  }else{
    sessionStorage.setItem("temp",i);
    i="1";
    document.getElementById('navi').setAttribute("class", "navbar navbar-expand-lg  sticky-top navbar-dark bg-dark");
    document.getElementById('footi').setAttribute("class", "py-4 footc text-white-50 bg-dark");
    document.getElementById('j').setAttribute("class", "jumbotron jumbotron-fluid p-4 bg-dark");
    document.getElementById('t1').setAttribute("class", "td");
    document.getElementById('t2').setAttribute("class", "td");
    document.getElementById('t3').setAttribute("class", "td");
    document.getElementById('t4').setAttribute("class", "td text-center");
    document.getElementById('bd').setAttribute("class", "bdark");
    document.getElementById("cont").setAttribute("class", "container bg-dark");
    document.getElementById("con").setAttribute("class", "container bg-dark");
    document.getElementById("but").setAttribute("class", "btn btn-light");
    document.getElementById("but").innerHTML = "Light";
    document.getElementById("t5").setAttribute("class", "td container d-flex justify-content-center");



  }
}
</script>

  </body>
</html>
