<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CanBuild</title>
  </head>




  <body id="bd" class="bdark ">
    <nav  id="navi" class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
      <a class="navbar-brand"><img src="{% static 'images/logo.png' %}" alt="CANBUILS" width="30"> Canbuild </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'one:resources' %}">Events</a>
          </li>
         <li class="nav-item ">
            <a class="nav-link" href="{% url 'one:gallery' %}">Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'one:about' %}">About us</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="https://docs.google.com/forms/d/e/1FAIpQLScEmuzfPuSrDb9K80IgyqKPBS1n-oJA3YqoWl_K3s64R7-9WA/viewform?usp=sf_link">Join</a>
           </li>
        </ul>
        <div class="navbar-text">
          <button type="button"  id="but" class="btn btn-dark" onclick="on()"></button>
    </div>
      </div>
    </nav>

    <div class="jumbotron jumbotron-fluid p-4 bg-dark" id="j">
      <div class="container d-flex justify-content-center">
        <h1 id="t1" class="td"> CAN BUILD </h1>
      </div>
    </div>

    <div class="container" >
        <br>
        {% if home %}
        <div id="carouselExampleFade1" class="carousel slide carousel-fade" data-interval="3700" data-ride="carousel">
          <div class="carousel-inner">
            {% for h in home %}
            {% if forloop.counter == 1 %}
              <div class="carousel-item active ">
                {% else %}
                <div class="carousel-item ">
                  {% endif %}
                   <a>
                    <img src="{{ h.Images }}" alt="" class="d-block w-100" height="400px" width: "100%" style="border-radius: 10px;">
                      </a>
                  <div class="carousel-caption rounded" style="background-color:rgba(0, 0, 0, 0.6);">
                    <h2>{{ h.Name }}</h2>
                  </div>
                </div>
                {% endfor %}

              </div>
              {% else %}
              <img src="{% static 'images/no.png' %}" class="d-block w-100 rounded " alt="NOT FOUND!" height="400">
              {% endif %}
              <br>
            </div>
</div>

    <div class="container">
      <div id="cont" class="container bg-dark" style="border-radius: 10px;"  >
        <p><br>
         <p>
             Fun is just another word for learning. We at <strong>Canbuild</strong>
             provide a platform that furnishes students with technical, problem solving and communication skills.
             With Online classes and hands on learning sessions, it allows students to Learn Here and Lead Anywhere.
             We give students an opportunity to showcase and hone their talents and also to participate in
             various club activities that are conducted through the year. Club activities not only
             help students shape their personal interests and hobbies but also improve their leadership and social skills.
        </p>
        <p>
            Its never too late and you are never too old to become better. Canbuild is developed by considering the future of the students in
            their overall development, Here the students learn
             <ul>
                <li>Android App Development</li>
                <li>Arduino</li>
                <li>Circuit Design and Development</li>
                <li>Resume Building</li>
                <li>Machine Learning</li>
                <li>IOT</li>
                And many more .....
            </ul>
        </p>
        <p>
            CanBuild works to provide the basic knowledge to the students in many fields with free of cost.
            Accepting Challenge, Problem solving, Designing and Dreaming out loud is all about embracing the learning and connecting to our world.
            Join our hands with your bold determination, Welcome to the journey of learning.

        </p>
        </p><br>
      </div>
    </div>







<br><br><br>

<footer id="footi" class="py-4 footc text-white-50 bg-dark ">
    <div class="container text-center">
      <a href="{% url 'admin:index' %}" ><h6>Canbuild Web</h6></a>
      <small class="td" id="t2" >Developed by Vignesh Hegde</small>
    </div>
</footer>



<style media="screen">
.btn:focus{
  outline: none;
  box-shadow: none;
}

p{
margin: 20px;
text-align: justify;
text-justify: inter-word;
}

.bdark {
  background-color: #1A1A1D;
  color:white ;
}


.bdlight {
  background-color:#EDF2F8;
  color: black;
}

.tl{
  color: black;
}

.td{
  color: white;
}

</style>

<script>
var i=sessionStorage.getItem("temp");
if (typeof i == 'undefined'){
  i="0";
}
 on()



function on(){
  if(i=="1"){
    sessionStorage.setItem("temp",i);
    document.getElementById('navi').setAttribute("class", "navbar navbar-expand-lg  sticky-top navbar-light bg-light");
    document.getElementById('footi').setAttribute("class", "py-4 footc text-white-50 bg-light");
    document.getElementById('j').setAttribute("class", "jumbotron jumbotron-fluid p-4 bg-light");
    document.getElementById("cont").setAttribute("class", "container bg-light");
    document.getElementById('t1').setAttribute("class", "tl");
    document.getElementById('t2').setAttribute("class", "tl");
    document.getElementById('bd').setAttribute("class", "bdlight");
    document.getElementById("but").innerHTML = "Dark";
    document.getElementById("but").setAttribute("class", "btn btn-dark");
    i="0";
  }else{
    sessionStorage.setItem("temp",i);
    i="1";
    document.getElementById('navi').setAttribute("class", "navbar navbar-expand-lg  sticky-top navbar-dark bg-dark");
    document.getElementById('footi').setAttribute("class", "py-4 footc text-white-50 bg-dark");
    document.getElementById('j').setAttribute("class", "jumbotron jumbotron-fluid p-4 bg-dark");
    document.getElementById("cont").setAttribute("class", "container bg-dark");
    document.getElementById('t1').setAttribute("class", "td");
    document.getElementById('t2').setAttribute("class", "td");
    document.getElementById('bd').setAttribute("class", "bdark");
    document.getElementById("but").innerHTML = "Light";
    document.getElementById("but").setAttribute("class", "btn btn-light");
  }
}

</script>




  </body>
</html>
